

/*Testing*/

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

body{
    background: none repeat scroll 0% 0% #FFF;
    font: 400 16px/21px 'Open Sans', sans-serif;
   	color:#414042;
}


#outer-wrapper {
	background-color: #fff;
	margin: 0 auto;
}

#mid-wrapper {
	background: url("../img/bg_image_xlarge.jpg") no-repeat;
	margin-top: 8px;
	width:100%;
	margin: 0 auto;
	position: relative;
}

/*.shell {
	background-color: #fff;
	padding:25px;
	min-height: 600px;
}*/

.bright-garnet{color:#EF4E45;}
.med-garnet{color:#BA2C2B;}
.med-turq{color:#008075;}
.med-amethyst{color:#932077;}
.dark-iolite{color:#43286d;}

a:hover, a:focus {
   
}

a:hover.bright-garnet,
a:focus.bright-garnet  {
	 color: #EF4E45;
}

a:hover.med-garnet,
a:focus.med-garnet  {
	 color: #BA2C2B;
}

a:hover.med-turq,
a:focus.med-turq  {
	 color: #008075;
}

a:hover.med-amethyst,
a:focus.med-amethyst  {
	 color: #932077;
}

a:hover.dark-iolite,
a:focus.dark-iolite  {
	 color: #43286d;
}

/*main circle*/
.circle {
   background: url('../img/circle_graphic.png') no-repeat;
   background-position: 0 130px;
   position: relative;
   margin-left: 250px;
   padding-top: 130px;
   height: 630px;
}

.circle img {}

/*icon buttons*/
button {margin:25px 0 0 0;}

.btn-one,
.btn-two,
.btn-three,
.btn-four,
.btn-five{
	cursor: pointer;
	position: absolute;
}


.icon-one,
.icon-two,
.icon-three,
.icon-four,
.icon-five {
	cursor: pointer;
	position: absolute;
}
/*absolute testing*/
.icon-one {
	top: 134px;
left: 165px;
	width: 75px;
	height: 70px;
	border:1px solid red;
}

.icon-two {
	top: 264px;
	left: 321px;
	width: 74px;
	height: 50px;
	border:1px solid white;

}

.icon-three {
	top: 435px;
	left: 239px;
	width: 90px;
	height: 70px;
	border:1px solid red;
}

.icon-four {
	top: 420px;
	left: 65px;
	width: 70px;
	height: 50px;
	border:1px solid red;
}

.icon-five {
	top: 245px;
	left: 25px;
	width: 64px;
	height: 63px;
	border:1px solid red;
}

.btn-one{
    top: 30px;
    left: 150px;
}

.btn-two{
	top: 260px;
	left: 420px;
}
.btn-three{
	top: 510px;
	left: 330px;
}
.btn-four{
	top: 511px;
	left: 0px;
}
.btn-five{
	top: 262px;
    left: -80px;
}


/*relative testing
.icon-one {
	top: 5px;
	left: -355px;
	width: 75px;
	height: 70px;
	border:1px solid red;
}

.icon-two {
	top: 114px;
	left: -286px;
	width: 74px;
	height: 50px;
	border:1px solid red;

}

.icon-three {
	top: 225px;
	left: 239px;
	width: 90px;
	height: 70px;
	border:1px solid red;
}

.icon-four {
	top: 200px;
	left: -30px;
	width: 70px;
	height: 50px;
	border:1px solid red;
}

.icon-five {
	top: 30px;
	left: -146px;
	width: 64px;
	height: 63px;
	border:1px solid red;
}


.btn-one{
    top: -90px;
    left: 150px;
}

.btn-two{
	top: 120px;
	left: 290px;
}
.btn-three{
	top: 390px;
	left: 120px;
}
.btn-four{
	top: 391px;
	left: -330px;
}
.btn-five{
	top: 120px;
	left: -530px;
}
*/

/*placement and text inside of circle*/
#infographic-one,
#infographic-two,
#infographic-three,
#infographic-four,
#infographic-five{
    margin:0;
    padding:0;
    display:none;
    position: absolute;
    top: 260px;
    left: 110px;
    width: 180px;
    height: 150px;

}

#infographic-one {display:block;}

#infographic-one img.stat,
#infographic-two img.stat, 
#infographic-three img.stat,
#infographic-four img.stat, 
#infographic-five img.stat  {
	position: relative;
	top: 0;
	left: 22px;
}

#infographic-three img.stat{
	top: 24px;
	left: 22px;
}

#infographic-four img.stat {
	top: -5px;
	left: 22px;
}

#infographic-one img.stat-magnifying,
#infographic-two img.stat-magnifying,
#infographic-three img.stat-magnifying,
#infographic-four img.stat-magnifying,
#infographic-five img.stat-magnifying  {
    position: relative;
    top: 40px;
    left: 75px;
}

#infographic-four img.stat-magnifying{
    top: 36px;
    left: 75px;
}

#infographic-three img.stat-magnifying {
    top: 65px;
    left: 75px;
}

#infographic-one p,
#infographic-two p,
#infographic-three p,
#infographic-four p,
#infographic-five p{
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100%;
	position: absolute;
	top: 98px;
	left: 10px;
	line-height: 0;
}

#infographic-one a,
#infographic-two a,
#infographic-three a,
#infographic-four a,
#infographic-five a    {
	font-size: 11px;
	line-height:13px;
	font-weight: 700;
	text-decoration: none;
}

/*headers outside of circle*/
header,
footer {
    min-height: 85px;
    background-color: white;
}

header h1 {
	display: inline-block;
}
header .header-left {}

header  img {
    padding-left:35px;
    padding-top:25px;
}

header .header-right {
	position: relative;
}

.header-one, 
.header-two,
.header-three,
.header-four,
.header-five{
	position:relative;
	display:none;
	top: 20px;
	left: 0;
}

.header-one {display: block;} 

.header-one > h1,
.header-two > h1,
.header-three > h1,
.header-four > h1,
.header-five > h1{
   margin:0;
   padding:0;
   font:600 20px/26px 'Open Sans', sans-serif;
   text-transform: uppercase;
   letter-spacing: 0.75px;
}

.header-one > p,
.header-two > p,
.header-three > p,
.header-four > p,
.header-five > p{
    font:400 16px/16px 'Open Sans', sans-serif;
    color:#414042;
    margin:0;
    padding:0;
}

/*callout text*/
.text-graphic {
     background: url('../img/text-box.png') no-repeat;
     width:327px;
     height:190px;
     padding: 0;
     position: absolute;
     top: 45px;
     left: 180px;
     z-index: 100;
}

.text-graphic h1,
.text-graphic p {
    margin:0;
    padding:20px 12px 10px 16px;
}

.text-graphic h1 {font: 600 13px/13px 'Open Sans', sans-serif;}

.text-graphic p {
    font: 400 12px/18px 'Open Sans', sans-serif;
    color:#414042;
    padding-top:0;
    
}

.text-graphic p span {font-size: 11px;}
/*
.js-controller {
	position: relative;
}
*/
