
/*jquery overrides*/
.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
    background-color: #FFF;
    border-color: #DDD;
    color: fff;
    text-shadow: 0px 1px 0px #EEE;
    font-weight: 700;

}

.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a {
    font-weight: 400;
}


.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a {
    color: #fff;
    font-weight: 400;
}

.icon_header{
	
	}
	
.icon_header_img
{margin-left:-33px;
margin-bottom: -8px;


}

.ui-page-theme-a h4 
{
	font: 700 16px/16px "Open Sans",sans-serif;
color: #808284;
text-shadow: none;
text-decoration:none;
margin-bottom: 12px;
margin-top: 10px;
	}
	
.ui-page-theme-a h4 a
{
	font: 700 16px/16px "Open Sans",sans-serif;
color: #808284;
text-shadow: none;
text-decoration:none;
	}
	

	
	
.ui-page-theme-a h3 {
    color: #CC092F;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: -8px;
	
}



.ui-header,  {
    border-width: 0px 0px;
    border-style: none;

}
.ui-footer {
	border-top: 10px solid #cc092f !important;
	
	}

body {
    font: 700 16px/16px 'Arimo', sans-serif;
    color:#808284;
    text-shadow:none;
	background-color: #eaeaea;
}



header {min-height:90px;}

header img {margin:10px;}

header h1 {
    padding:0;
    margin:0;
    font: 700 10px/10px 'Arimo', sans-serif;
    text-transform: uppercase;
    text-shadow: none;
    color:#fff;
    position: relative;
    top:23px;
    left:90px;
}
/*
header a {
    color: #fff;
    text-shadow: none;
    font-family: 'Arimo', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}*/

/*footer {
    height:20px;
}*/

footer p {
    color: #fff;
    text-shadow: none;
    font: 700 12px/12px 'Arimo', sans-serif;
    text-transform: uppercase;
}


/*Panel Grids*/
.pan-one,
.pan-two,
.pan-three,
.pan-four,
.pan-five,
.pan-six,
.pan-seven,
.pan-eight,
.pan-nine,
.pan-ten,
.pan-eleven,
.pan-twelve,
.pan-thirteen,
.pan-fourteen,
.pan-fifteen,
.pan-sixteen,
.pan-seventeen,
.pan-eighteen
{
    text-align:center;
    margin:15px 0 5px 0;
}

.pan-seventeen,
.pan-eighteen {
    margin-bottom: 15px;
}

.pan-one a,
.pan-two a,
.pan-three a,
.pan-four a,
.pan-five a,
.pan-six a,
.pan-seven a,
.pan-eight a,
.pan-nine a,
.pan-ten a,
.pan-eleven a,
.pan-twelve a,
.pan-thirteen a,
.pan-fourteen a,
.pan-fifteen a,
.pan-sixteen a,
.pan-seventeen a,
.pan-eighteen a
        {
   font: bold 11px "Open Sans",sans-serif;
color: #cc092f;
text-decoration: none;

}
.pan-one a img,
.pan-two a img,
.pan-three a img,
.pan-four a img,
.pan-five a img,
.pan-six a img,
.pan-seven a img,
.pan-eight a img,
.pan-nine a img,
.pan-ten a img,
.pan-eleven a img,
.pan-twelve a img,
.pan-thirteen a img,
.pan-fourteen a img,
.pan-fifteen a img,
.pan-sixteen a img,
.pan-seventeen a img,
.pan-eighteen a img,{
	width:50%;
	height:auto;
    display:block;
    margin: 0 auto;
    margin-bottom:5px;
}

/*panels*/

/*Panel navigation*/

.swipe{
    position: absolute;
    top: 235px;
    left: 92%;
}

.panel-navigation{text-align: center;}

.left {float:left;}

.right{float:right;}

a.btn-close {
    font: 300 20px 'Open Sans', sans-serif;
    color:#fff;
    padding:0 25px 0 12px;
	margin-top:-5px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    text-decoration:none;
}

.panel-navigation hr {
    color:#fff;
    color:rgba(255,255,255, 0.4);
    border-style: solid;
}


/*Panel Heading*/

.panel_logo{
margin-top:10px;
margin-left:10px;	
	
	}


.custom_header{
	
background: #FFF none repeat scroll 0% 0%;
height: 90px;
width: 112%;
margin-top: -16px;
margin-left: -15px;	
	
	}

.custom_footer{
	
background: #FFF none repeat scroll 0% 0%;
height: 244px;
width: 112%;
margin-top: 17%;
margin-left: -15px;
font-size: 11px;
text-align: center;
padding-top: 10px;
	
	}	

.footer_font{
	color:#808284;
	font-size: 11px;
text-align: center;
font-weight:100;}

.panelHeader {margin: 48px 0 30px 0;}

.panelHeader h1{


font: bold 20px/20px "Open Sans",sans-serif;
color: #cc092f;
top: 23px;
text-align: center;
margin: 0px 0px -18px -10%;

}

.rollins_red {
color: #cc092f !important;
margin-top: -7px;	

	}


.panelHeader img {
center:0px;}

.vendor_logo{
	margin-left: 33%;
padding-bottom: 10px;	
	}

.panels .panel-subheader {font: 700 14px/16px 'Arimo', sans-serif; }

.panels p, a {
    font: 400 14px/16px 'Arimo', sans-serif;  
    color: #fff;
}

/*Panel grouping*/
.panel-grouping {
display: block;
width: 225px;
margin-bottom: 20px;
text-align: center;
}

.panel-grouping  .panel-header {
    font: bold 12px/14px 'Arimo', sans-serif;
	text-align:center;
   
}

.panel-grouping p {
color: #687577;
text-align:center;
	}
	
.panel-grouping p a {
color:#cc092f;
font: 600 16px/16px 'Arimo', sans-serif;
text-decoration: none;
text-align:center;
	
	
	
	}	
	


.panel-grouping .panel-info p {
   font: 400 28px/34px "Arimo",sans-serif;
    margin-top:0;
}




.icon-list {
    display: inline-block;
    margin-top:-5px;
}

.icon-list img:first-child {margin-right:15px;}


/*panel background colors*/
#panelOne{background-color: #eaeaea;}
#panelTwo{background-color: #eaeaea;}
#panelThree{background-color: #eaeaea;}
#panelFour{background-color: #eaeaea;}
#panelFive{background-color: #eaeaea;}
#panelSix{background-color: #eaeaea;}
#panelSeven{background-color: #eaeaea;}
#panelEight{background-color: #eaeaea;}
#panelNine{background-color: #eaeaea;}
#panelTen{background-color: #eaeaea;}
#panelEleven{background-color: #eaeaea;}
#panelTwelve{background-color: #eaeaea;}
#panelThirteen{background-color: #eaeaea;}
#panelFourteen{background-color: #eaeaea;}
#panelFifteen{background-color: #eaeaea;}
#panelSixteen{background-color: #eaeaea;}
#panelSeventeen{background-color: #eaeaea;}
#panelEighteen{background-color: #eaeaea;}
#panelNav {background-color: #eaeaea;}
#panelInfo {background-color: #eaeaea;}


.ui-content {
    border-width: 0px;
    overflow-y: visible;
    overflow-x: hidden;
    padding: 0em;
}


/*side panels*/

/*Nav Panel*/


#panelNav .ui-panel-inner  a{
    text-decoration: none;
}

ul.nav-primary {
    list-style-type: none;
    display:block;
    margin:0;
    padding:0;
}

ul.nav-primary a {
    display: inline-block;
    font: 300 20px 'Open Sans', sans-serif;
    color:#fff;
    margin:10px 0 10px 0;
    text-decoration:none;
}

.gear {
    position: absolute;
    top: 180px;
    left: -39px;
    z-index: 1000;
}

.ui-page-theme-a a h3  {
    color: #CC092F;
    font-size: 15px;
    font-weight: 600;
    text-transform: none;
    margin-bottom: -18px;
	margin: 10px 0px 7px 0px;
	}

#website {
color: green;
text-decoration:none;
text-transform: none;	
	
	}

/*tablet(portrait and landscape)-----*/
@media only screen and (min-device-width:768px) and (max-device-width: 1024px) {

    .pan-one a, .pan-two a, .pan-three a, .pan-four a, .pan-five a, .pan-six a, .pan-seven a, .pan-eight a, .pan-nine a, .pan-ten a, .pan-eleven a, .pan-twelve a, .pan-thirteen a, .pan-fourteen a, .pan-fifteen a, .pan-sixteen a, .pan-seventeen a, .pan-eighteen a {
    font-size:1.25em;
    }
}



